@if (bb()) {
  <section class="image"><img src="{{bb().image}}"></section>
  <section class="others">
    <h2>{{bb().title}}</h2>
    <p>{{bb().content}}</p>
    <p class="price">{{bb().price|currency:'RUR'}}</p>
    <p>{{bb().contacts}}</p>
    <p class="date">{{bb().created_at|date:'medium'}}</p>
  </section>
  <h3>Новый комментарий</h3>
  <form (submit)="submitComment($event)">
    <p>Имя: <input [formControl]="author" name="author" required></p>
    <p>Пароль: <input type="password" [formControl]="password" name="password" required></p>
    <p>Содержание:<br><textarea [formControl]="content" name="content" required></textarea></p>
    <p><input type="submit" value="Добавить"></p>
  </form>
  @for (comment of comments(); track comment.id) {
    <article class="comment">
      <h4>{{comment.author}}</h4>
      <p>{{comment.content}}</p>
      <p class="date">{{comment.created_at|date:'medium'}}</p>
    </article>
  }
}